{# <h4 class="sample">{{ title }}</h4> #}
<canvas id="scatterChart" style="width:100%;max-width:700px"></canvas>
<h4 class="sample"> Scatter Plot</h4>
<canvas id="lineChart" style="width:100%;max-width:700px"></canvas>
<h4 class="sample">Line Plot</h4>
<canvas id="comparisonLineChart" style="width:100%;max-width:700px"></canvas>
<h4 class="sample">Comparison Line Plot</h4>
<canvas id="pieChart" style="width:100%;max-width:700px"></canvas>
<h4 class="sample">Pie Chart</h4>
{# <ul>
{% for article in items %}
  <li>{{ article.name }}</li>
{% endfor %}
</ul> #}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>