<div class="container">
  <div class="upload-files-container">
   <input type="file" id="file" onchange="createGraph()"></input>
  </div>
  {# <div class="graph-container">
    <canvas id="pieChart" class="graph"></canvas>
    <div id="graph-type">{{ title }}</div>
  </div>
 
  <div class="change-graph-container">
    <select onchange="changeGraph()" id="graph-select">
     <option value="pieChart">Select Graph</option>
     <option value="pieChart">Pie Chart</option>
     <option value="barChart">bar Chart</option>
    </select>
  </div> #}
</div>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
