<div class="container {{ title }}">
  <div class="analytics-sub-container">
   <div class="header-container">See {{ title }} Analytics</div>
   <div class="graph-container">
    <div class="button-container">
       <p style="position: absolute" onClick="createGraph()">View Analytics</p>
    </div>
   </div>
  </div>
</div>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
