.container {
  width: 100%;
  height: 70vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
  /* background-color: red; */
}
.demo{
  color: green;
}
.graph-container {
  width: 60%;
  /* background-color: green; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.change-graph-container {
  /* background-color:blue; */
  height: 100%;
  width: 20%;
}
#graph-select{
  width: 100%;
  height: 7%;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #f7fbfa;
}
.graph{
  width: 100%;
  max-width:700px;
  /* background-color: yellow; */
}
.upload-files-container{
  /* background-color:green; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: space-between; */
}
.change-files-container{
  /* background-color:blue; */
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.header-container {
  /* background-color: blue; */
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  font-weight: 400;
}
.body-container {
  /* background-color: blue; */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container {
  color: #00875F;
  font-weight: 500;
  background-color: #f7fbfa;
  border: 1px solid #00875F;
  padding: 10px;
  width:7vw;
  height: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.button-container:hover {
  background-color: #00875F;
  color: #f7fbfa;
}

#file{
  opacity: 0;
}
#previousAnalytics{
  opacity: 0;
}
.time-stamp-container{
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.time-stamp-sub-container{
  /* background-color: blue; */
  height: 40%;
  width: 85%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
}
.filter-button{
  height:4vh;
  width:6vw;
  margin-top: 10px;
}
